<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MnayaFetteteriaMySql">
        <activity
            android:name=".controladores.UsuarioSeleccionado"
            android:exported="false"
            android:parentActivityName=".controladores.ListadoUsuarios"/>
        <activity
            android:name=".controladores.Ofertas"
            android:exported="false"
            android:parentActivityName=".controladores.Principal"/>
        <activity
            android:name=".controladores.ListadoUsuarios"
            android:exported="false"
            android:parentActivityName=".controladores.Principal"/>
        <activity
            android:name=".controladores.ListadoArticulos"
            android:exported="false"
            android:parentActivityName=".controladores.Principal"/>
        <activity
            android:name=".controladores.ArticuloSeleccionado"
            android:exported="false"
            android:parentActivityName=".controladores.ListadoArticulos"/>
        <activity
            android:name=".controladores.Cuenta"
            android:exported="false"
            android:parentActivityName=".controladores.Principal"/>
        <activity
            android:name=".controladores.NuevoUsuario"
            android:exported="false"
            android:parentActivityName=".controladores.Principal" />
        <activity
            android:name=".controladores.NuevoArticulo"
            android:exported="false"
            android:parentActivityName=".controladores.Principal" />
        <activity
            android:name=".controladores.Principal"
            android:exported="false" />
        <activity
            android:name=".controladores.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>